@model IEnumerable<PubMessagesApp.Models.LoginAttempt>

@{
    ViewData["Title"] = "Historia logowań";
}

<h2>Historia logowań</h2>

<table class="table">
    <thead>
        <tr>
            <th>Udane logowanie</th>
            <th>Adres IP</th>
            <th>Lokalizacja</th>
            <th>Data i godzina</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var attempt in Model)
        {
            <tr>
                <td>@(attempt.Success ? "✔️" : "❌")</td>
                <td>@System.Text.Encodings.Web.HtmlEncoder.Default.Encode(attempt.IpAddress)</td>
                <td>@System.Text.Encodings.Web.HtmlEncoder.Default.Encode(attempt.Location)</td>
                <td>@attempt.Timestamp.ToString("dd.MM.yyyy  HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>
