@{
    ViewData["Title"] = "Setup Google Authenticator";
}

<h2>Skonfiguruj Google Authenticator</h2>

<p>Wpisz podany kod w aplikacji:</p>
<p>
    <strong>
        @(TempData["ManualCode"]?.ToString() ?? "Kod nie jest dostępny")
    </strong>
</p>

<form method="get" action="@Url.Action("VerifyGoogleAuthenticator", "Account")">
    <button type="submit">Dalej</button>
</form>

