@model IEnumerable<PubMessagesApp.Models.Message>

<div class="flex-container">
    <!-- Lewy pasek menu -->
    <aside class="sidebar">
        <nav>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <a href="/Messages/Create" class="btn btn-light">Dodaj Wiadomość</a>
            }
        </nav>
    </aside>

    <!-- Sekcja wiadomości -->
    <main class="main-content">
        <h1 class="messages-title">Wiadomości</h1>
        <div id="message-list">
            @Html.Partial("_MessageListPartial", Model)
        </div>
        <p id="no-more-messages" class="no-messages">Brak Postów</p>
    </main>
</div>

<script src="/js/messages.js"></script>
